<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport">
    <link href="styles.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Home</title>
</head>
<body>
    <div class="header">
        <diV class="logo-div">
            <img src="./images/logo.png">
            <p>ATOMIZER</p>
        </diV>
        <button class="button">LOGIN</button>
    </div>

    <div class="chat">
        <p class="question">
            Q: Lorem ipsum dolor sit amet. Et saepe error vel saepe officia 
            et voluptates rerum aut officiis maxime et enim maxime in 
            praesentium aliquid ut illum internos! Ex omnis dolore sed 
            repudiandae atque eos repellendus corporis sit harum quod vel 
            possimus similique qui officia internos! Est cumque eius et 
            obcaecati sunt aut inventore rerum id explicabo autem?
        </p>
        <p class="button">
            A: Lorem ipsum dolor sit amet. Et saepe error vel saepe officia 
            et voluptates rerum aut officiis maxime et enim maxime in 
            praesentium aliquid ut illum internos! Ex omnis dolore sed 
            repudiandae atque eos repellendus corporis sit harum quod vel 
            possimus similique qui officia internos! Est cumque eius et 
            obcaecati sunt aut inventore rerum id explicabo autem?
        </p>
        <p class="question">
            Q: Lorem ipsum dolor sit amet. Et saepe error vel saepe officia 
            et voluptates rerum aut officiis maxime et enim maxime in 
            praesentium aliquid ut illum internos! Ex omnis dolore sed 
            repudiandae atque eos repellendus corporis sit harum quod vel 
            possimus similique qui officia internos! Est cumque eius et 
            obcaecati sunt aut inventore rerum id explicabo autem?
        </p>
        <p class="button">
            A: Lorem ipsum dolor sit amet. Et saepe error vel saepe officia 
            et voluptates rerum aut officiis maxime et enim maxime in 
            praesentium aliquid ut illum internos! Ex omnis dolore sed 
            repudiandae atque eos repellendus corporis sit harum quod vel 
            possimus similique qui officia internos! Est cumque eius et 
            obcaecati sunt aut inventore rerum id explicabo autem?
        </p>
        <p class="question">
            Q: Lorem ipsum dolor sit amet. Et saepe error vel saepe officia 
            et voluptates rerum aut officiis maxime et enim maxime in 
            praesentium aliquid ut illum internos! Ex omnis dolore sed 
            repudiandae atque eos repellendus corporis sit harum quod vel 
            possimus similique qui officia internos! Est cumque eius et 
            obcaecati sunt aut inventore rerum id explicabo autem?
        </p>
        <p class="button">
            A: Lorem ipsum dolor sit amet. Et saepe error vel saepe officia 
            et voluptates rerum aut officiis maxime et enim maxime in 
            praesentium aliquid ut illum internos! Ex omnis dolore sed 
            repudiandae atque eos repellendus corporis sit harum quod vel 
            possimus similique qui officia internos! Est cumque eius et 
            obcaecati sunt aut inventore rerum id explicabo autem?
        </p>
        <p class="question">
            Q: Lorem ipsum dolor sit amet. Et saepe error vel saepe officia 
            et voluptates rerum aut officiis maxime et enim maxime in 
            praesentium aliquid ut illum internos! Ex omnis dolore sed 
            repudiandae atque eos repellendus corporis sit harum quod vel 
            possimus similique qui officia internos! Est cumque eius et 
            obcaecati sunt aut inventore rerum id explicabo autem?
        </p>
        <p class="button">
            A: Lorem ipsum dolor sit amet. Et saepe error vel saepe officia 
            et voluptates rerum aut officiis maxime et enim maxime in 
            praesentium aliquid ut illum internos! Ex omnis dolore sed 
            repudiandae atque eos repellendus corporis sit harum quod vel 
            possimus similique qui officia internos! Est cumque eius et 
            obcaecati sunt aut inventore rerum id explicabo autem?
        </p>
    </div>

    <div class="prompt">
        <input type="text" placeholder="Enter your question here">
        <a href="#"><img src="./images/logo.png"></a>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="index.js"></script>
</body>
</html>
